.containerComicDetail {
    float: left;
    margin: 50px 30px 20px 30px;
}

.imageContainer {
    min-width: 550px;
}

.containerBasicDetail {
    display: flex;
    flex-direction: row;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .containerBasicDetail {
        flex-direction: column;
        max-width: 400px;
    }
    .imageContainer img {
        max-width: 400px;
        min-height: 607px;
    }
}