.item {
    margin: 10px 54px 54px 54px;
}

.containerImage {
    height: 149px;
    width: 216px;
    position: relative;
    padding-top: 133px;
    margin-bottom: 120px;
}

.details {
    position: absolute;
    top: 0;
    z-index: -1;
}

.image {
    margin-top: -120px;
}

.image:hover {
    transform: translateY(120px);
    transition: 1s ease-in-out;
}