.item {
    margin: 10px 54px 54px 54px;
}

.containerImage {
    height: 149px;
    width: 216px;
    position: relative;
    margin-bottom: 250px;
}

.containerDetails {
    background-color: #423838;
    color: white;
    padding: 20px 10px 70px 10px;
    position: absolute;
    top: 0;
    width: 196px;
    z-index: -1;
}

.detail {
    text-align: center;
}

.titleDetail {
    max-height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image {
    animation: jump 2s;
}

.image:hover {
    transform: translateY(120px);
    transition: 1s ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(120px);
    }
    100% {
        transform: translateY(0px);
    }
}